// SCSS of VOCBETNET 
@import "variables";
//@import "bootstrap";
@import "overridebs";
@import "mixins";

// Custom

body {
    /*
    background: #485563;*/ /* fallback for old browsers */
    
    // background: -webkit-linear-gradient(right, #485563, #29323c);
    // background: -moz-linear-gradient(right, #485563, #29323c);
    // background: -o-linear-gradient(right, #485563, #29323c);
    // background: linear-gradient(to left, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: $color-blue-bright;
    color: $font-color-body;
    @include line-height($font-size-body);
    font-weight: 400;
    font-family: $font-stack;


}

h1,h2,h3,h4 {
    font-weight: 300;
    letter-spacing: -1px;
    color: $font-color-header;
}

.vb-container-full {
    margin-left: 0; 
    margin-right: 0;
}

.vb-container-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.vb-container-fixedw {
    max-width: $max-width;
}



.vb-container-border {
    border-left: 1px solid $color-dark-heavy;
    border-right: 1px solid $color-dark-heavy;

}

.vb-col-full {
    background-color: rgba(183,28,28,0.8);
}
.vb-col-chat {
    background-color: $color-primary;
    color: $font-color-bright;
    font-size: 12px;
    line-height: 40px;

    ul {
        margin-bottom: 0;

        li {
            padding-left: 0.5 * $pad-standard;
            padding-right: 0.5 * $pad-standard;
            letter-spacing: 3px;
            font-size: 11px; 
        }

        li:first-child {
            padding-left: 0;
        }


    }


    a {
        color: $font-color-bright;
        text-decoration: none;

        &:hover {
        color: $font-color-bright;
        text-decoration: underline; 
        }
    }

}

.vb-col-navigation {
    
    color: $font-color-bright;
    font-size: $font-size-body-small;
    line-height: 40px;
    letter-spacing: normal;
    font-weight: 300;


    .collapseLineQR,
    .collapseCallCenter {
        background-color: $color-aksen;
        color: $font-color-bright;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 18px;

        h3 {
            color: $font-color-bright;
        }
    }

    .collapseCallCenter {
        background-color: $primary900;
    }



    ul {
        margin-bottom: 0;
        li {
            padding-left:0;
            padding-right: 0;
            a {
                display: inline-block;
                padding-right: 24px;
                padding-left: 24px;
            }
            a:hover {
                background-color: $primary900;
            }

        }

        .lang {
            font-size: 10px;
        }
        
        // li:hover {
        //     background-image: url('../images/bg-hover-nav.png');
        //     background-repeat: repeat-x;
        //     background-position: left bottom;
            
        // }

        a.vb-logo {
            display: inline-block;
            background-image: url('../images/logo-vocbet.png');
            background-repeat: no-repeat;
            background-position: center 6px;
            width: 120px;
        }
        
        .vb-aksen {
            background-color: $color-aksen;
            cursor: zoom-in;
            &:hover,
            &:active {
                background-color: $color-aksen !important;
            }
        }
        
    }


    .vb-col-menu {
        padding-right: 0;
        padding-left: 0;
    }
    .col-md-9 {
        padding-left: 0;
    }

    a {
        color: $font-color-bright;
        text-decoration: none;

        &:hover {
        color: $font-color-bright;
        text-decoration: none;
        }
    }

}

.vb-col-cta {
    
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 4 * $pad-standard;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: #f6f6f6;

    p {
        margin-top: $pad-standard;
        margin-bottom: 1.5 * $pad-standard;
        font-size: 18px;
        line-height: 28px;
        padding-right: 400px;
    }
    
    .vb-flarge {
	    font-size: 24px;
    }

    h1 {
        color: $font-color-bright;
        padding-right: 420px;
    }
    
    .col-xs-12 {
	    min-height: 300px;
		background-repeat: no-repeat;
		background-position: right bottom;
		padding-bottom: 32px;
    }
    
    .vb-slide-messi {
	    background-image: url('../images/slider-messi.png');   
	}
	
	.vb-slide-casinogirls {
	    background-image: url('../images/slider-casinogirls.png');   
	}
	
	.vb-slide-rollet {
	    background-image: url('../images/slider-rollet.png');   
	}
	
	.vb-slide-bonus {
	    background-image: url('../images/slider-bonus.png');   
	}
} 


.carousel-inner {
	.vb-slide-jackpot {
	    background-image: url('../images/slider-jackpot.jpg');
	    
	}
	
	.vb-slide-stadium {
	    background-image: url('../images/slider-stadium.jpg');
	    
	}
	
	.vb-slide-makau {
	    background-image: url('../images/slider-makau.jpg');
	}


	.vb-slide-jackpot,
	.vb-slide-stadium,
	.vb-slide-makau {
	    &:before {
	        content: '';
	        position: absolute;
	        top: 0;
	        right: 0;
	        bottom: 0;
	        left: 0;
	        background-image: linear-gradient(to bottom right,#000,#111);
	        opacity: .6;  
	    }    
		
	}
}



.vb-slide-promo {
	$bg-color : #9bc5c3;
	background: $bg-color; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, darken($bg-color, 20%) , $bg-color); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, darken($bg-color, 20%) , $bg-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




.vb-btn-cta {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    color: white;
    letter-spacing: 4px;
    background: linear-gradient($color-aksen, $color-aksen-heavy);
    border-color: #07c;
    border-radius: 4px;
    font-weight: 300;
    letter-spacing: -0.1px;

    &:hover {
        background: linear-gradient(#51a9ee, #147bcd);
        border-color: #1482d0;
        color: white;
    }
}

.vb-col-content {
	margin-top: 24px;
	
	ul {
		li {
			padding-bottom: 8px;
		}
	}
	
	.important {
		font-size: 16px;
		line-height: 28px;
		color: lighten($font-color-body, 25%);
		margin-bottom: 12px;	
		font-style: italic;
	}
	
	.vb-col-color-a {
		background-color: $color-blue-dark;
	}
}

.vb-promo {
	h3,h4 {		
		color: $primary900;
	}
	h3 {
		margin-bottom: 32px;		
	}
	h4 {
		margin-top:0;
	}	
}

.vb-promo-referral {
	.col-sm-4 {
		padding-right: 0;
	}
	.col-sm-3 {
		border-right: 2px solid $color-blue-dark2;
	}
}

.vb-promo-sports {
	margin-top: 24px;

	h4 {
		margin-top:16px;
	}	

}

.vb-col-additional {
  color: #333;
  padding-top: 64px;
  padding-bottom: 32px;
  font-size: 13px;
  line-height: 18px;

	h4 {
	  color: #757575;
	}
	
	.col-sm-3 {
	  border-right: 1px solid #d1d1d1;
	}
	
	.col-sm-3:last-child {
	  border-right: none;
	}


}


.vb-col-games {
    padding-top: 16px;
    padding-bottom: 48px;
    font-size: 13px;
    line-height: 18px;
    color:$color-aksen-heavy;
    background-image: url('../images/color-marker.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-x: 90%;

    h4 {
        color:#757575;
        border-bottom: 1px solid $color-blue-dark3;
        padding-bottom: 16px;
    }

    .vb-col-gamesind {
        background-repeat: no-repeat;
        background-position: center center;

    }

    .games-sbobet {
        display: block;
        height: 80px;
        background-image: url('../images/logo-sbobet.png');
        &:hover {
            background-image: url('../images/logo-sbobet-glow.png');  
        }
    }
    .games-maxbet {
        display: block;
        height: 80px;
        background-image: url('../images/logo-maxbet.png');
        &:hover {
            background-image: url('../images/logo-maxbet-glow.png');  
        }
    }

    .games-gclub {
        display: block;
        height: 80px;
        background-image: url('../images/logo-gclub.png');
        &:hover {
            background-image: url('../images/logo-gclub-glow.png');  
        }
    }
}


.vb-footer {
    background-color: $color-blue-dark;
    font-size: 13px;
    color: #757575;
    line-height: 20px;
    padding-top: 24px;
    
    
    a {
        color: $color-aksen-heavy;
        text-decoration: none;

        &:hover {
        color: $font-color-body;
        text-decoration: underline;
        }
    }

    h5 {
        color: #757575;
        margin-bottom: 24px;
    }

    ul {
        margin-top: 24px;
        li {
            line-height: 24px;
            padding-bottom: 8px;
            img {
                margin-right: 8px;
            }
        }
    }

    .vb-ul-navjump {
        margin-top: 12px;
        li {
            line-height: 12px;
            padding: 4px 0;;
        }
    }

    .vb-copyright {
        border-top: 1px solid $color-blue-dark3;
        margin-top: 24px;
        padding-top:24px;
        line-height: 18px;
        color : #999;
    }
    
    .vb-img-mar {
	    margin-top: 10px;
	    margin-bottom: 10px;
    }

}


.vb-img-astext {
  margin-top: -6px;
}

@import "mediaxs";

