// Bootstrap
// @import "bootstrap";
// Typography
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,900,900i);
 

//Variables 
$color-dark: #242424; //Dark Grey
$color-dark-alt: lighten($color-dark, 20%);
$color-dark-alt10: lighten($color-dark, 10%);
$color-dark-soft: #c3c3c3;
$color-aksen: #FF3C1F; //Orange
$color-aksen-alt: darken($color-aksen, 10%);
$color-aksen-bright: lighten($color-aksen, 10%);
$color-aksen-bright20: lighten($color-aksen, 20%);
$color-bright: #fff;
$color-bright-alt: #CAD8DE;
$color-bright-alt-border: darken($color-bright-alt, 10%);
$color-blue: #00B0FF;

$font: 'Roboto', sans-serif;
$font-cbody: #333;
$font-cheader:#757575;
$font-cbody-dark: #fff;
$font-cbody-darkhead: #d4d4d4;
$font-sbody: 16px;
$font-sbodysmall: 13px;
$font-ssubheading: 18px;

$lh-subheading: 28px;
$lh-body: 25px;
$lh-small: 18px;

$max-width: 960px;
$pad: 8px;
$out-gutter: 32px;

$slide-mheight: 340px;


@import "overridebootstrap";

body {
	font-family: $font;
	color: $font-cbody;
	font-size: $font-sbody;
	line-height: $lh-body;
	font-weight: 300;


	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        	
	/*
	background-color: #e8e8e8;
	background-image: url('../images/bg-body.jpg');
	background-repeat: repeat;
	background-position: center top;
	*/
}

h1,h2,h3,h4,h5 {
	font-weight: 300;
	color: $color-aksen;
}

a {
	color: $color-aksen;
	
	&:hover {
		text-decoration: none;
		color: $font-cbody;
	}
}



.fb-con-fixedw {
	max-width: $max-width;	
}

.fb-kontras {
	background-color: $color-aksen;
}

.fb-col-topbar {
	background-color: $color-bright;
	color: $font-cbody;
	font-size: $font-sbodysmall;
	line-height: 32px;
	padding-top: $pad;
	padding-bottom: $pad;
	
	.col-sm-9, .col-sm-3 {
		border-bottom: 1px solid $color-dark-soft;
		padding-right: $pad;
		padding-left: $pad;
	}
	
	.fb-socmed {
		padding-left: 0;
		text-align: right;
		img {
			margin-left: $pad*2;
		}
	}
}

.fb-col-logochat {
	background-color: $color-bright;
	padding-top: 4 * $pad;
	padding-bottom: 4 * $pad;
	
	.col-sm-8 {
		padding-left: 0;
	}
	
	.fb-chat {
		margin-top: $pad;
		display: inline-table;
	}
	
	.fb-chat>li {
		display: table-cell;
		vertical-align: middle;
		line-height: 1;
		color: $font-cheader;
		margin-right: $pad;
	}
	
	.fb-chat>li>span {
		font-size: $font-sbodysmall;
	}
	
	.fb-chat>li>span.title {
		font-size: 9px;
		line-height: 14px;
	}
}

.fb-col-menu {
	padding-top: $pad;
	padding-bottom: $pad;
	background-color: $color-bright;
	
	ul.fb-ul-menu {
		background-color: $color-dark;
		margin-left: 0;
		margin-bottom: 0;
		li {
			color: $font-cbody-dark;
			line-height: 48px;
			text-transform: uppercase;
			padding-left: 0;
			padding-right: 0;
			
		}
		li>a>span{
				margin:0 4px;
			}
	}
	
	a {
		display: block;
		padding-left: 3*$pad;
		padding-right: 3*$pad;
		color: $color-bright;
		&:hover {
			background-color: $color-dark-alt;
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	
}

.fb-col-slides {
	padding-top: $pad;
	padding-bottom: $pad;
	background-color: $color-bright;
	color: $font-cbody-dark;
	
	
	.fb-col-carousel {
		
	}
	
	
	.slide-common {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

	}
	.slide-fastservices {
		background-image: url('../images/slider-fastservices.jpg');
	}
	.slide-sportsbook {
		background-image: url('../images/slider-sportsbook.jpg');
	}
	
	
	.slide-text {
		padding: 3*$pad;
		background-color: rgba(0,0,0,0.3);
		min-height: $slide-mheight;
		display: inline-table;

		div {
			height: 100%;
			display: table-cell;
			vertical-align: middle;
		}
		h1 {
			color: $font-cbody-dark;
			margin-top: 0;
			text-shadow: 1px 1px #222;
		}
		p {
			margin-top: 3*$pad;
			margin-bottom: 3*$pad;
			font-size: $font-ssubheading;
			line-height: $lh-subheading;
		}
		
		.fb-btn-cta {
			color: $font-cbody-dark;
			background: linear-gradient(#00B0FF, #0099de);
			font-size: $font-sbodysmall;
		    border-color: #07c;
		    border-radius: 4px;
		    font-weight: 300;
		    letter-spacing: -0.1px;
			&:hover {
				background: linear-gradient(#51a9ee, #147bcd);
				border-color: #1482d0;
			}
		}
	}
	
	.fb-box-produksmall {
		background-color: #e8e8e8;
		height: 0.5* $slide-mheight;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		
		.text-box {
			background: rgba(0,0,0,.6);
			color: $font-cbody-dark;
			font-size: $font-sbodysmall;
			line-height: $lh-small;
			padding: 2*$pad;
			height: 100%;
			
			
			a {
				color: $font-cbody-dark;
				text-decoration: none;
				position: absolute;
				bottom: $pad;
				&:hover {
					color: $color-aksen-bright;
				}
			}
		}
	}
	
	.fb-box-sportsbook {
		background-image: url('../images/bg-sportsbook-small.jpg');
	}
	
	.fb-box-casino {
		background-image: url('../images/bg-casino-small.jpg');
	
	}
	
	.fb-box-sabungayam {
		background-image: url('../images/bg-sabungayam-small.jpg');
	
	}
	
	.fb-box-togel {
		background-image: url('../images/bg-togel-small.jpg');
	
	}
	
	.col-sm-7,
	.col-sm-5 {
		padding-right: 0;
		padding-left: 0;
	}
	
	.col-sm-7 {
		padding-left: $out-gutter;
	}
	
	.col-sm-5 {
		padding-right: $out-gutter;
		.col-xs-6 {
			padding-right: 0;
			padding-left: 0;
			&:first-child {
				padding-left: $out-gutter;
			}
			&:last-child {
				padding-right: $out-gutter;
			}
		}
	}
}


.fb-col-content {
	background-color: $color-bright;
	padding-top: 3*$pad;
	
	
	ul {
		li {
			padding-top: $pad;
			padding-bottom: $pad;
			img {
				width: 100%;
			}
		}
	}
	
	.col-sm-4 {
		border-right: 1px solid $color-dark-soft;
		border-top: 1px solid $color-dark-soft;
		&:last-child {
			border-right: none;
		}
	}
	

}

.highlight {
	line-height: $lh-body * 1.5;
	font-size: $font-sbody * 1.2;
	font-weight: 300;
	color: $font-cheader;
	width: 95%;
	margin: $pad*3 auto;
	padding-left: $pad*6;
	font-style: italic;
	background-image: url('../images/bg-quote.png');
	background-repeat: no-repeat;
	background-position: left top;
}

.fb-col-single {
	padding-top: 0;
	padding-bottom: $pad *2;
	
	h1,h2, h3  {
		margin-top: 0;
		
	}
	
	mark {
		font-weight: 400;
		background-color: #ff0;
		}
	
	h3 {
		margin-top: $pad *3;
	}
	
	.subheading {
		margin-bottom: $pad *4;
	}
	
	.wp-caption {
		width: 100% !important;
		font-size: small;
		text-align: center;
		color: $font-cheader;
		margin-bottom: $pad * 2;
	}
	
	.size-full {
		width: 100% !important;
		height: auto;
		margin-bottom: $pad;
	}

}

.fb-col-content-alt {
	background-color: $color-bright-alt;
	border-top: $pad solid $color-bright-alt-border;
	padding-top: 4*$pad;
	padding-bottom: 4*$pad;
	border-bottom: 4px solid $color-dark;
	
	.col-sm-4 {
		border-right: 1px solid $color-bright-alt-border;
		border-top: none;

	}

}

.fb-col-regis {
	border-top: none;
}

.fb-list-artikel-home {
	
	h3 {
		margin-top:0;
	}
	
	.col-sm-6:first-child {
		padding-right: 0.5*$out-gutter;
	}
	.col-sm-6:last-child {
		padding-left: 0.5*$out-gutter;
	}
	
	.fb-matchlist {
		margin-top: 2*$pad;
		padding-bottom: 2*$pad;
		border-top: 1px solid $color-bright-alt-border;
		border-bottom: 1px solid $color-bright-alt-border;
	}
	
	.fb-matchlist img{
		margin-top: $pad *2;
	}
	
	.fb-matchlist-sm {
		padding-top: $pad;
		padding-bottom: $pad;
		border-right: none;
	}
	
	.meta {
		padding: $pad 0;
		font-size: $font-sbodysmall;
		line-height: $lh-small;
		
		span {
			margin-right: $pad;
			margin-left: $pad;
			
			&:first-child {
				margin-left: 0;	
			}
		}
	}

}
.fb-box-stepregis {
	background: $color-aksen; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, $color-aksen , $color-aksen-bright); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, $color-aksen , $color-aksen-bright); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #e2e2e2;
	padding: 3*$pad;
	border: 2px solid $color-aksen-alt;
	font-size: $font-sbodysmall;
	line-height: $lh-small;
	
	h5 {
		color: #fff;
	}
	
	img {
		float: right;
		padding-left: $pad;
		padding-bottom: $pad;
	}
	
	.col-sm-3 {
		border-right: 1px solid $color-dark-soft;
		&:last-child {
			border-right: none;
		}
	}
}



.fb-col-footer {
	font-size: $font-sbodysmall;
	line-height: $lh-small;
	margin-top: $pad*4;
	padding-left: 0;
	padding-right: 0;
	
	color: $color-bright-alt;
		
	a {
		color: $color-blue;
	}
	a:hover {
		text-decoration: underline;
	}
	
	h5 {
		color: white;
	}
	
	.bank-deposit {
		margin: $pad*2 0;
		display: inline-table;
		width: 100%;
		li {
			display: table-cell;
			margin-right: 4*$pad;
			
			img {
				height: 24px;
				width: auto;
			}
		}
	}
	
	.fb-col-jump {
		
	}
	
	.fb-jump-to {
		li {
			padding: $pad*0.5 0;
		}
	}
	
	.fb-matchjump {
		padding-top: $pad*2;
	}
	
	.fb-gamespartner ul{
		border: 2px solid $color-dark;
		padding: $pad*2;
		margin-bottom: $pad*2;
	}
	
	.fb-col-copyright {
				
		h5 {
			float: right;
		}
		
		p {
			padding-top: $pad *3;
			border-top: 1px solid $color-dark;
		}
	}
}
