@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,900,900i);
.container {
  padding-left: 32px;
  padding-right: 32px; }

.row {
  margin-left: -32px;
  margin-right: -32px; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 32px;
  padding-right: 32px; }

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4B79A1, #283E51);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4B79A1, #283E51);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*
  background-color: #e8e8e8;
  background-image: url('../images/bg-body.jpg');
  background-repeat: repeat;
  background-position: center top;
  */ }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: #FF3C1F; }

a {
  color: #FF3C1F; }
  a:hover {
    text-decoration: none;
    color: #333; }

.fb-con-fixedw {
  max-width: 960px; }

.fb-kontras {
  background-color: #FF3C1F; }

.fb-col-topbar {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 8px; }
  .fb-col-topbar .col-sm-9, .fb-col-topbar .col-sm-3 {
    border-bottom: 1px solid #c3c3c3;
    padding-right: 8px;
    padding-left: 8px; }
  .fb-col-topbar .fb-socmed {
    padding-left: 0;
    text-align: right; }
    .fb-col-topbar .fb-socmed img {
      margin-left: 16px; }

.fb-col-logochat {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px; }
  .fb-col-logochat .col-sm-8 {
    padding-left: 0; }
  .fb-col-logochat .fb-chat {
    margin-top: 8px;
    display: inline-table; }
  .fb-col-logochat .fb-chat > li {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    color: #757575;
    margin-right: 8px; }
  .fb-col-logochat .fb-chat > li > span {
    font-size: 13px; }
  .fb-col-logochat .fb-chat > li > span.title {
    font-size: 9px;
    line-height: 14px; }

.fb-col-menu {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff; }
  .fb-col-menu ul.fb-ul-menu {
    background-color: #242424;
    margin-left: 0;
    margin-bottom: 0; }
    .fb-col-menu ul.fb-ul-menu li {
      color: #fff;
      line-height: 48px;
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 0; }
    .fb-col-menu ul.fb-ul-menu li > a > span {
      margin: 0 4px; }
  .fb-col-menu a {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    color: #fff; }
    .fb-col-menu a:hover {
      background-color: #575757;
      text-decoration: none; }
    .fb-col-menu a:focus {
      text-decoration: none; }

.fb-col-slides {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  color: #fff; }
  .fb-col-slides .slide-common {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .fb-col-slides .slide-fastservices {
    background-image: url("../images/slider-fastservices.jpg"); }
  .fb-col-slides .slide-sportsbook {
    background-image: url("../images/slider-sportsbook.jpg"); }
  .fb-col-slides .slide-text {
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 340px;
    display: inline-table; }
    .fb-col-slides .slide-text div {
      height: 100%;
      display: table-cell;
      vertical-align: middle; }
    .fb-col-slides .slide-text h1 {
      color: #fff;
      margin-top: 0;
      text-shadow: 1px 1px #222; }
    .fb-col-slides .slide-text p {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: 18px;
      line-height: 28px; }
    .fb-col-slides .slide-text .fb-btn-cta {
      color: #fff;
      background: linear-gradient(#00B0FF, #0099de);
      font-size: 13px;
      border-color: #07c;
      border-radius: 4px;
      font-weight: 300;
      letter-spacing: -0.1px; }
      .fb-col-slides .slide-text .fb-btn-cta:hover {
        background: linear-gradient(#51a9ee, #147bcd);
        border-color: #1482d0; }
  .fb-col-slides .fb-box-produksmall {
    background-color: #e8e8e8;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .fb-col-slides .fb-box-produksmall .text-box {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-size: 13px;
      line-height: 18px;
      padding: 16px;
      height: 100%; }
      .fb-col-slides .fb-box-produksmall .text-box a {
        color: #fff;
        text-decoration: none;
        position: absolute;
        bottom: 8px; }
        .fb-col-slides .fb-box-produksmall .text-box a:hover {
          color: #ff6852; }
  .fb-col-slides .fb-box-sportsbook {
    background-image: url("../images/bg-sportsbook-small.jpg"); }
  .fb-col-slides .fb-box-casino {
    background-image: url("../images/bg-casino-small.jpg"); }
  .fb-col-slides .fb-box-sabungayam {
    background-image: url("../images/bg-sabungayam-small.jpg"); }
  .fb-col-slides .fb-box-togel {
    background-image: url("../images/bg-togel-small.jpg"); }
  .fb-col-slides .col-sm-7,
  .fb-col-slides .col-sm-5 {
    padding-right: 0;
    padding-left: 0; }
  .fb-col-slides .col-sm-7 {
    padding-left: 32px; }
  .fb-col-slides .col-sm-5 {
    padding-right: 32px; }
    .fb-col-slides .col-sm-5 .col-xs-6 {
      padding-right: 0;
      padding-left: 0; }
      .fb-col-slides .col-sm-5 .col-xs-6:first-child {
        padding-left: 32px; }
      .fb-col-slides .col-sm-5 .col-xs-6:last-child {
        padding-right: 32px; }

.fb-col-content {
  background-color: #fff;
  padding-top: 24px; }
  .fb-col-content ul li {
    padding-top: 8px;
    padding-bottom: 8px; }
    .fb-col-content ul li img {
      width: 100%; }
  .fb-col-content .col-sm-4 {
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3; }
    .fb-col-content .col-sm-4:last-child {
      border-right: none; }

.highlight {
  line-height: 37.5px;
  font-size: 19.2px;
  font-weight: 300;
  color: #757575;
  width: 95%;
  margin: 24px auto;
  padding-left: 48px;
  font-style: italic;
  background-image: url("../images/bg-quote.png");
  background-repeat: no-repeat;
  background-position: left top; }

.fb-col-single {
  padding-top: 0;
  padding-bottom: 16px; }
  .fb-col-single h1, .fb-col-single h2, .fb-col-single h3 {
    margin-top: 0; }
  .fb-col-single mark {
    font-weight: 400;
    background-color: #ff0; }
  .fb-col-single h3 {
    margin-top: 24px; }
  .fb-col-single .subheading {
    margin-bottom: 32px; }
  .fb-col-single .wp-caption {
    width: 100% !important;
    font-size: small;
    text-align: center;
    color: #757575;
    margin-bottom: 16px; }
  .fb-col-single .size-full {
    width: 100% !important;
    height: auto;
    margin-bottom: 8px; }

.fb-col-content-alt {
  background-color: #CAD8DE;
  border-top: 8px solid #abc1ca;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 4px solid #242424; }
  .fb-col-content-alt .col-sm-4 {
    border-right: 1px solid #abc1ca;
    border-top: none; }

.fb-col-regis {
  border-top: none; }

.fb-list-artikel-home h3 {
  margin-top: 0; }
.fb-list-artikel-home .col-sm-6:first-child {
  padding-right: 16px; }
.fb-list-artikel-home .col-sm-6:last-child {
  padding-left: 16px; }
.fb-list-artikel-home .fb-matchlist {
  margin-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #abc1ca;
  border-bottom: 1px solid #abc1ca; }
.fb-list-artikel-home .fb-matchlist img {
  margin-top: 16px; }
.fb-list-artikel-home .fb-matchlist-sm {
  padding-top: 8px;
  padding-bottom: 8px;
  border-right: none; }
.fb-list-artikel-home .meta {
  padding: 8px 0;
  font-size: 13px;
  line-height: 18px; }
  .fb-list-artikel-home .meta span {
    margin-right: 8px;
    margin-left: 8px; }
    .fb-list-artikel-home .meta span:first-child {
      margin-left: 0; }

.fb-box-stepregis {
  background: #FF3C1F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF3C1F, #ff6852);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF3C1F, #ff6852);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #e2e2e2;
  padding: 24px;
  border: 2px solid #eb1e00;
  font-size: 13px;
  line-height: 18px; }
  .fb-box-stepregis h5 {
    color: #fff; }
  .fb-box-stepregis img {
    float: right;
    padding-left: 8px;
    padding-bottom: 8px; }
  .fb-box-stepregis .col-sm-3 {
    border-right: 1px solid #c3c3c3; }
    .fb-box-stepregis .col-sm-3:last-child {
      border-right: none; }

.fb-col-footer {
  font-size: 13px;
  line-height: 18px;
  margin-top: 32px;
  padding-left: 0;
  padding-right: 0;
  color: #CAD8DE; }
  .fb-col-footer a {
    color: #00B0FF; }
  .fb-col-footer a:hover {
    text-decoration: underline; }
  .fb-col-footer h5 {
    color: white; }
  .fb-col-footer .bank-deposit {
    margin: 16px 0;
    display: inline-table;
    width: 100%; }
    .fb-col-footer .bank-deposit li {
      display: table-cell;
      margin-right: 32px; }
      .fb-col-footer .bank-deposit li img {
        height: 24px;
        width: auto; }
  .fb-col-footer .fb-jump-to li {
    padding: 4px 0; }
  .fb-col-footer .fb-matchjump {
    padding-top: 16px; }
  .fb-col-footer .fb-gamespartner ul {
    border: 2px solid #242424;
    padding: 16px;
    margin-bottom: 16px; }
  .fb-col-footer .fb-col-copyright h5 {
    float: right; }
  .fb-col-footer .fb-col-copyright p {
    padding-top: 24px;
    border-top: 1px solid #242424; }

/*# sourceMappingURL=style.css.map */
